<div class="row">
  <div class="col-md-10 col-md-offset-1 event-form-bg">
    <div class="event-form">
      <form name="form" ng-submit="event.addEvent()" novalidate>

        <!-- Date Picker -->
        <div class="col-md-3 date-picker" ng-controller="DatePickerController as vm">
          <p class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default"
              ng-click="vm.valuationDatePickerOpen($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
          <input type="text" class="form-control minutes"
            uib-datepicker-popup="mediumDate"
            is-open="vm.valuationDatePickerIsOpen"
            ng-click="vm.valuationDatePickerOpen()"
            ng-model="vm.valuationDate" />
          </p>
        </div>
        <!-- End Date Picker -->

        <!-- Minutes -->
        <div class="col-md-3 form-group" ng-class="{ 'has-error': form.minutes.$touched && form.minutes.$invalid}">
          <input type="number" class="form-control minutes" name="minutes" placeholder="Minutes Meditating" ng-model="event.minutes" required="required" data-ng-pattern="/^\d+$/">
          <div ng-if="form.minutes.$invalid && form.minutes.$dirty" ng-messages="form.minutes.$error">
            <div ng-message="required">Minutes are required</div>
          </div>
        </div>
        <!-- End Minutes -->


        <!-- Start Meditation Dropdown -->
        <div class="col-md-4 meditations-dropdown-menu" ng-controller="MeditationsDropdownController as vm">
          <span class="btn-group" uib-dropdown keyboard-nav>
            <button id="simple-btn-keyboard-nav" type="button" class="btn btn-meditations-dropdown-menu" uib-dropdown-toggle ng-disabled="disabled">
              {{selectedMeditation}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
              <li ng-repeat="meditation in vm.meditations">
                <a href="" class="meditations-dropdown-menu" ng-click="meditationSelected(meditation.name) ; meditationId(meditation.id)">{{meditation.name}}</a>
              </li>
            </ul>
          </span>
        </div>
        <!-- End Meditation Dropdown -->

        <!-- Add Meditation Btn -->
        <div class="col-md-2">
          <input type="submit" value="Add Meditation" class="btn event-btn" ng-disabled="!form.$valid">
        </div>

      </form>

    </div>
  </div>
</div>
<!-- <div class="col-sm-2 col-sm-offset-5">
  <button type="button" class="btn btn-default" ng-click="gotoElement('top')">Go to top</button>
</div> -->
