<div class="row">
  <div class="col-md-10 col-md-offset-1 event-form-bg">
    <div class="event-form">
      <form name="form" ng-submit="event.updateEvent()" novalidate>

      <date-picker></date-picker>

      <minutes></minutes>

      <!-- Start Meditation Dropdown -->

      <meditation-dropdown ></meditation-dropdown>
      <!-- <div class="col-md-4 meditations-dropdown-menu" ng-controller="MeditationsDropdownController as vm">
        <span class="btn-group" uib-dropdown keyboard-nav>
          <button id="simple-btn-keyboard-nav" type="button" class="btn btn-meditations-dropdown-menu" uib-dropdown-toggle ng-disabled="disabled">
            {{event.selectedMeditation === undefined ? event.event.meditation.name : event.selectedMeditation}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
            <li ng-repeat="meditation in vm.meditations">
              <a href="" class="meditations-dropdown-menu" ng-click="event.meditationSelected(meditation.name) ; event.setMeditationId(meditation.id)">{{meditation.name}}</a>
            </li>
          </ul>
        </span>
      </div> -->
      <!-- End Meditation Dropdown -->
      <div class="col-md-2">
        <input type="submit" value="Update Event" class="btn event-btn" ng-disabled="!form.$valid">
      </div>
    </form>
  </div>
</div>
</div>
