<div class="row">
  <div class="col-xs-4 col-xs-offset-4 col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 event-form-bg update">
    <div class="event-form">
      <form name="form" ng-submit="event.updateEvent()" novalidate>

      <date-picker></date-picker>

      <minutes></minutes>

      <!-- Start Meditation Dropdown -->

      <meditation-dropdown ></meditation-dropdown>

      <!-- End Meditation Dropdown -->
      <div class="col-sm-2">
        <input type="submit" value="Update Event" class="btn event-btn" ng-disabled="!form.$valid">
      </div>
    </form>
  </div>
</div>
</div>
