<div class="users-background vertical-center" data-img-width="1600" data-img-height="1064" data-diff="100">
  <div class="container">
    <div class="row">
      <div class="center-block hero">
        <div class="hero-bold">
          Meditation Scheduler
        </div>
        <div class="hero-text">
          Keep track of how often you meditate and discover new techniques
        </div>

        <br>
        <div class="container sign-in-form">
          <div class="col-md-8">
            <div class="col-md-2 log-in">
              <input class="btn transparent butn" ng-click="vm.showSignIn()" value="Log In">
            </div>
            <div class="col-md-2 sign-up">
              <input class="btn transparent butn " ng-click="vm.showSignUp()" value="Sign Up">
            </div>
            <div class="col-md-4 col-md-offset-2">
              <!-- Sign In Form -->
              <sign-in-form></sign-in-form>

              <!-- Sign Up Form -->
              <sign-up-form></sign-up-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
