{{vm.user}}
<div class="jumbotron user">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="meditations-jumbo-text center">
        {{vm.user.username}}'s Meditations
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <h1>
      <div class="">
        <span data-ng-bind="vm.user.username"></span> <br>
        Enlightenment: <span data-ng-bind="vm.points"></span>
      </div>
    </h1>
    <div ng-repeat="event in vm.user.events track by $index">
      {{event}}
      <a ui-sref="user.event({id: event.id})">{{event.date | date: medium}} for {{event.minutes}} minutes --
        {{vm.user.meditations[$index].name}}</a>
    </div>
    <br>
    <a class="btn btn-default" ui-sref="user.addEvent" ng-click="vm.hideDiv()" ng-hide="vm.hideLink">Add new calendar event</a>
    <ui-view></ui-view>
  </div>
</div>
