<div class="jumbotron user">
  <div class="container">
      <div class="user-jumbotron-large-text center">
        Welcome to your personal meditation calendar
      </div>
      <div class="user-jumbotron-small-text">
        Seeing how much you’ve accomplished will motivate you to keep your practice going!
      </div>
      <br>
      <div class="row row-centered">
        <div class="col-centered">
          <a class="btn calendar-event-button" ui-sref="user.addEvent" ng-click="vm.hideCalendarEventBtn()" ng-hide="vm.hideCalendarBtn">Add new calendar event</a>
        </div>
      </div>
      <br><br><br>
      <ui-view></ui-view>
  </div>
</div>
  <div class="container">
    <div class="row user-meditation-row">
      <div class="col-md-6 user-meditation">
        <img src="assets/teal-logo.svg" alt="logo" class="meditation-logo">  Meditation Tracking
        <!-- <button ng-click="vm.sortDate()">Sort Date</button> -->
      </div>
      <div class="col-md-6 enlightenment-points">
        Enlightenment: {{vm.points}} points
      </div>
    </div>
    <hr class="blue-hr">
    <!-- <button type="button" class="btn btn-default" ng-click="vm.sortMeditation()">Sort by meditation</button> -->
    <div class="container">
      <div class="col-md-3 col-md-offset-9 dropdown-meditation">
        <div class="button-group">
          <select class="btn btn-default btn-lg dropdown-toggle dropdown-text" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="vm.selectedOption" ng-change="vm.sortBy()" ng-options="option for option in vm.options">
            <option value="" disabled selected>Sort Events By</option>
          </select>
        </div>
      </div>
    </div>

    <div ng-repeat="event in vm.user.events">
      <a class="user-meditation-list" style="text-decoration: none" ng-click="gotoElement('top')" ui-sref="user.event({id: event.id})">{{event.date | date: medium}} for {{event.minutes}} minutes &mdash;
        {{event.meditation.name}}</a>
    </div>
    <br>
  </div>
</div>
<br><br><br><br>
<scroll-directive ng-show="vm.user.events.length > 5"></scroll-directive>
