<div class="users-background">
  <div class="container">
    <div class="row sign-in">
      <div class="col-lg-12">
        <div class="row ">
          <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2" >
            <div class="hero-bold">
              Meditation Scheduler
            </div>
            <div class="hero-text">
              Keep track of how often you meditate and discover new techniques
            </div>

            <br>
            <div class="col-md-8 col-md-offset-2">
              <input class="btn transparent-input" ng-click="vm.showSignIn()" value="Log In">
              <input class="btn transparent-input pull-right" ng-click="vm.showSignUp()" value="Sign Up">
              <!-- Sign In Form -->
              <sign-in-form></sign-in-form>

              <!-- Sign Up Form -->
              <sign-up-form></sign-up-form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
