<div class="users-background">
    <div class="container">
        <div class="center-block hero">
            <div class="text-center">
                <iframe
                    width="560"
                    height="315"
                    src="https://www.youtube.com/embed/4eIAbVAMrRI"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>