/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require AngularJS-Toaster
 *= require hover
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

#toast-container > .toast-success {
  background-image: url("/assets/icons/meditator.png") !important;
  background-size: 50px 50px;
  background-position:2% 50%;
}

#toast-container > .toast-error {
  background-image: url("/assets/icons/hand.png") !important;
  background-size: 50px 50px;
  background-position:2% 50%;
}

.toast-title {
  padding-left: 10px;
}

.toast-message {
  padding-left: 10px;
}

// .center-btn {
//   margin: 0 auto;
//     text-align: center;
//     width: inherit;
//     display: inline-block;
// }
