/* Add Event Page */


.event-form-bg {
  height: 60px;
  background: rgba(0,0,0,0.40);
  border-radius: 4px;
}

.event-form {
  margin-top: 12px;
}

/* Date Picker */
.date-picker {
  margin-left: -5px;
}
 /* Minutes */
input.minutes {
  font-size: 14px;
  letter-spacing: 2px;
  color: #00A8D0;
  letter-spacing: 0;
}

input.minutes::-webkit-input-placeholder {
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

input.minutes:-moz-placeholder { /* Firefox 18- */
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

input.minutes::-moz-placeholder {  /* Firefox 19+ */
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

input.minutes:-ms-input-placeholder {
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
/* End Minutes */

/* Meditation Dropdown Menu */
.btn-meditations-dropdown-menu {
  background: #FFF;
  width: 280px;
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.meditations-dropdown-menu {
  color: #00A8D0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

.event-btn {
  margin-left: -10px;
  background: #00A8D0;
  border: 1px solid rgba(121,125,128,0.30);
  box-shadow: inset 1px 1px 3px 0 rgba(121,125,128,0.20);
  border-radius: 3px;
  font-family: 'Raleway';
  font-size: 24px;
  color: #FFF;
  // letter-spacing: 2px;
  width: 150px;
}

/* Event */
.user-meditation-event {
  text-align: center;
}


@media (max-width: 1200px) {
  .btn-meditations-dropdown-menu {
    width: 200px;
  }
  .event-btn {
    margin-left: -30px !important;
  }
}

@media (max-width: 992px) {
  .event-form-bg {
    margin-top: -20px;
  }
  .meditations-dropdown-menu, .date-picker,
  .event-minutes, .event-btn {
    margin-top: 14px;
  }
}
