
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');

/* NAV USER PROFILE: */
.navbar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  font-family: 'Raleway';
  font-size: 16px;
  color: #007799;
  letter-spacing: -0.77px;
  text-transform: uppercase;
  background-color: #fff;
}

.navbar li {
  padding-top: 10px;
}

.logo {
  margin-bottom: 20px;
}

// html,
// body,
// .container,
// .view {
//   height: 100%;
//   width: 100%;
// }


body {
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

.sign-in {
  margin-top: 300px;
}

.users-background {
  background: url(/assets/home_1900wide.png)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

// .container {
//   display: table;
//   vertical-align: middle;
//   padding-bottom: 100px;
// }

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.hero-bold {
  font-family: 'Raleway', sans-serif;;
  font-weight: 500;
  font-size: 54px;
  color: #FFFFFF;
  letter-spacing: 3.5px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.50);
  text-transform: uppercase;
}

.hero-text {
  /* Keep track of how of: */
  font-family: 'Raleway';
  font-size: 17px;
  color: #FFF;
  letter-spacing: 1.2px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.50);
  text-transform: uppercase;
}

/* Main page user input - transparent */
input.transparent-input {
  // background-color: transparent !important;
  background-color: #000;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  border-radius: 1px;
  font-family: 'Raleway';
  font-size: 14px;
  color: #FFFFFF;
  // letter-spacing: 3px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
}

input.transparent-input::-webkit-input-placeholder {
  color: #FFF;
  font-size: 14px;
  // letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

input.transparent-input:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

input.transparent-input::-moz-placeholder {  /* Firefox 19+ */
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

input.transparent-input:-ms-input-placeholder {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
}

.submit-button {
  width: 300px;
}

/* User Profile */

.user {
  background: url(/assets/user_1900wide.png) center center;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}

/* Meditaitons Section */
.meditations {
  background: url(/assets/meditation_1900wide2.png) center center;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}

/* EXPLORE MEDITATIONS: */
.meditations-jumbo-text {
  font-family: 'Raleway', sans-serif;;
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.50);
  text-transform: uppercase;
  padding-top:80px;
  text-align: center;
}

.meditations-text {
  text-align: center;
  display:inline-block;
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn-center {
  margin:auto;
  width: 10%;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
}

/* Search Box */

.container-search {
  margin-bottom: -100px;
  margin-top: -10px;
}

input.input-search {
  font-family: 'Raleway';
  font-size: 20px;
  color: #000000;
  letter-spacing: 3px;
  height: 40px;
}

.dropdown-meditation {
  padding-top: 6px;
  margin-left: -25px;
}



// /* Dialog box: */
// background: rgba(0,0,0,0.20);
// border: 1px solid #FFFFFF;
// border-radius: 1px;
//
//
// /* Enter your name: */
// font-family: Raleway-Regular;
// font-size: 20px;
// color: #FFFFFF;
// letter-spacing: 0;
//
// /* Submit dialog box: */
// background: rgba(0,0,0,0.20);
// border: 1px solid #FFFFFF;
//
//
// /* SUBMIT: */
// font-family: Raleway-Regular;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0;
//
//
