/* NAV USER PROFILE: */
.navbar {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  font-size: 16px;
  color: #007799;
  letter-spacing: -0.77px;
  text-transform: uppercase;
  background-color: #fff;
  box-shadow: 0 6px 3px -3px rgba(0,0,0,.13);
  border-radius: .1px;
  border-bottom-width: 2px;
  border-top-width: 0;
}

.navbar li {
  padding-top: 10px;
}

.logo {
  margin-bottom: 20px;
}

/* Meditaitons Section */
.meditations {
  background: url(/assets/meditation_1900wide2.png) center center;
  background-size: cover;
  height: 300px;
  margin-top: 50px;
}

/* EXPLORE MEDITATIONS: */
.meditations-jumbo-text {
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.50);
  text-transform: uppercase;
  padding-top:80px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .meditations-jumbo-text {
    font-size: 40px;
  }
  .cont-meditations {
    margin-top: 100px;
  }
  .dropdown-meditation {
    margin-left: 0;
  }
}
@media only screen and (max-width: 520px) {
  .cont-meditations {
    margin-top: 100px;
  }
}

.meditations-text {
  text-align: center;
  display:inline-block;
  color: #6B6B6B;
}

.dropdown-meditation {
  padding-top: 6px;
  margin-left: -25px;
}

.icon {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn-center {
  margin:auto;
  width: 10%;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display:inline-block;
  float:none;
  text-align:center;
}

/* Search Box */

.container-search {
  margin-bottom: -100px;
  margin-top: -10px;
}

input.input-search {
  font-size: 20px;
  color: #000000;
  letter-spacing: 3px;
  height: 40px;
}

/* meditation about */
.meditation-icon-1 {
  background: url(/system/meditations/icons/000/000/001/original/icon1.png?1488681488);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 500px 500px;
  z-index: 1;
  background-opacity: .2;
  padding-top: 100px;

}

.meditation-container {
  position: relative;
  overflow: hidden;
  margin: 200px;
  z-index: 3;
}

.meditation-container img {
  position: absolute;;
  top: 45%;
  left: 50%;
  width: 500px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
  opacity: .1;
}

@media only screen and (max-width: 600px) {
  .meditation-container img {
    opacity: 0;
  }
}
