@import url('https://fonts.googleapis.com/css?family=Roboto');

/* NAV USER PROFILE: */
.navbar {
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Roboto';
  font-size: 16px;
  color: #007799;
  letter-spacing: -0.77px;
  padding-top: 10px;
  text-transform: uppercase;
  background-color: #fff;
}

html,
body,
.view {
  height: 100%;
}

.view {
  background: url(/assets/home_1900wide.png)no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.poop {
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=75);
}

.poop:hover {
  opacity: .8;
    filter: alpha(opacity=100);
}

.welcome {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

// /* NAV MEDITATIONS: */
// font-family: Raleway-Medium;
// font-size: 16px;
// color: #007799;
// letter-spacing: -0.77px;
//
//
//
// /* HERO TEXT: DAILY MEDITATION TIM: */
// font-family: Raleway-Bold;
// font-size: 48px;
// color: #FFFFFF;
// letter-spacing: 0;
// text-shadow: 0 1px 3px rgba(0,0,0,0.50);
//
//
// /* Keep track of how of: */
// font-family: Raleway-Regular;
// font-size: 19px;
// color: #F4FDFF;
// letter-spacing: 0.2px;
//
//
// /* Dialog box: */
// background: rgba(0,0,0,0.20);
// border: 1px solid #FFFFFF;
// border-radius: 1px;
//
//
// /* Enter your name: */
// font-family: Raleway-Regular;
// font-size: 20px;
// color: #FFFFFF;
// letter-spacing: 0;
//
// /* Submit dialog box: */
// background: rgba(0,0,0,0.20);
// border: 1px solid #FFFFFF;
//
//
// /* SUBMIT: */
// font-family: Raleway-Regular;
// font-size: 18px;
// color: #FFFFFF;
// letter-spacing: 0;
//
//
// /* EXPLORE MEDITATIONS: */
// font-family: Raleway-Bold;
// font-size: 48px;
// color: #FFFFFF;
// letter-spacing: 0;
// text-shadow: 0 1px 3px rgba(0,0,0,0.50);
