/* Sign In Page */
.hero {
  margin-top: 200px;
  width: 800px;
  max-width: 100%;
}

.users-background {
  background: url('/assets/home_1900wide.png') no-repeat center center;
  height: 100vh;
  // background-repeat: no-repeat;
  // background-position: 50% 50%;
  // background-position:50% 50%9 !important;
  // // padding-top: 40px;
  // overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  padding-bottom: 40px;

}
.users-background.overflow {
  height: auto;
  min-height: 100%;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.hero-bold {
  text-align: center;
  font-weight: 500;
  font-size: 54px;
  color: #FFFFFF;
  letter-spacing: 3.5px;
  text-shadow: 1px 1px 3px rgba(0,0,0, 0.9);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero-text {
  /* Keep track of how of: */
  text-align: center;
  font-size: 17px;
  color: #FFF;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  text-transform: uppercase;
}

.signin-form {

  // margin: 0 auto;
  // text-align: center;
  // max-width: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.log-in {
  width: 100px;
}
.sign-up {
  width: 100px;
  margin-left: 88px;
}

// @media only screen and (max-width: 992px) {
//
//   .log-in {
//     margin-left: 130px;
//   }
//   .sign-up {
//     margin-left: 130px;
//   }
//   .sign-in-form {
//     margin-left: 60px !important;
//   }
//
//
// }
//
@media only screen and (max-width: 780px) {
  input.transparent.butn {
    width: 117px !important;
  }
  .form-width {
    margin-left: 58px;
    width: 234px !important;
  }
  input.submit-button {
    margin-left: 58px;
    width: 234px !important;
  }
  // .sign-in-form {
  //   margin-left: 100px !important;
  // }
}
//
// @media only screen and (max-width: 580px) {
//   .sign-in-form {
//     margin-left: 60px !important;
//   }
// }

/* Main page user input - transparent */
input.transparent {
  // background-color: transparent !important;
  background-color: #000;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  border-radius: 1px;
  font-size: 14px;
  color: #FFFFFF;
  // letter-spacing: 3px;
  height: 40px;

  margin-top: 10px;
}

input.transparent.butn {
    width: 200px;
}

input.transparent::-webkit-input-placeholder {
  color: #FFF;
  font-size: 14px;
  // letter-spacing: 3px;
}

input.transparent:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
}

input.transparent::-moz-placeholder {  /* Firefox 19+ */
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
}

input.transparent:-ms-input-placeholder {
  color: #FFF;
  font-size: 14px;
  letter-spacing: 3px;
}

input.submit-button {
  width: 300px;
  background-color: #00A8D0;
  opacity: 0.7;
}

.form-width {
  width: 468px;
  max-width: 100%;
}

.message-alert {
  color: red;
}

/* User Profile */
.blue-hr {
  border: 1px solid #00A8D0;
}

.user {
  background: url(/assets/hero-user.png) center center;
  background-size: cover;
  height: 450px;
}

.user-jumbotron-large-text {
  padding-top:80px;
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}

.user-jumbotron-small-text {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.calendar-event-button {
  background: #00A8D0;
  border: 1px solid rgba(121,125,128,0.30);
  box-shadow: inset 1px 1px 3px 0 rgba(121,125,128,0.20);
  border-radius: 3px;
  /* Add meditation to ca: */
  font-size: 24px;
  color: #FFF;
  width: 300px;
}

.user-meditation {
  font-size: 36px;
  color: #00A8D0;
  letter-spacing: 0;
}

/* ------ Meditation Tracking ------ */

.enlightenment-points {
  font-size: 28px;
  color: #007799;
  letter-spacing: 0;
  text-align: right;
  margin-top: 10px;
}

.user-meditation-row {
  margin-bottom: -10px;
}

.user-meditation-list {
  font-size: 24px;
  color: #6B6B6B;
  letter-spacing: 0;
  line-height: 42px;
  text-decoration: none;
}

.user-meditation-event {
  font-size: 24px;
  color: #FFF;
  letter-spacing: 0;
  line-height: 42px;
}

.user-meditation-event a {
  color: #FFF;
}

.user-meditation-event a:hover {
  text-decoration: none;
}

.meditation-logo {
  width: 200px;
  height: 50px;
  margin-left: -60px;
  margin-right: -60px;
}
