/* Sign In Page */
.hero {
  margin-top: 300px;
  width: 800px;
  max-width: 100%;
}

.users-background {
  background: url('/assets/home_1900wide.png') no-repeat center center fixed;
  min-height: 100%;
  max-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 40px;

}

.hero-bold {
  text-align: center;
  font-weight: 500;
  font-size: 54px;
  color: #FFFFFF;
  letter-spacing: 3.5px;
  text-shadow: 1px 1px 3px rgba(0,0,0, 0.9);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.hero-text {
  /* Keep track of how of: */
  text-align: center;
  font-size: 17px;
  color: #FFF;
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  text-transform: uppercase;
}

// ---- SIGN IN FORM ----- //
.sign-log-form {
  margin-left: 30px;
}

.log-in {
  width: 100px;
  max-width: 100%;
}
.sign-up {
  padding-left: 38px !important;
  width: 100px;
  max-width: 100%;
}

@media only screen and (max-width: 992px) {
  .sign-log-form {
    margin-left: 0px;
  }
  .sign-up {
    padding-left: 52px !important;
  }

}

@media only screen and (max-width: 780px) {
  .sign-log-form {
    margin-left: 115px;
  }
  input.transparent.butn {
    width: 97px !important;
  }
  .form-width {
    width: 234px !important;
  }
  input.submit-button {
    margin-left: 0px !important;
    width: 234px !important;
  }
  .sign-up {
    padding-left: 0px !important;
    margin-left: 52px !important;
  }

}
//
@media only screen and (max-width: 580px) {
  .hero {
    margin-top: 200px;
  }
  .sign-log-form {
    margin-left: 15px;
  }
  .sign-up {
    padding-left: 60px !important;
    margin-left: 60px !important;
  }
  .hero-bold {
    font-size: 40px;
  }
  .navbar-toggle {
    margin-right: -10px !important;
  }
  .logo {
    margin-left: -10px !important;
  }
}
@media only screen and (max-width: 390px) {
  .hero-bold {
    font-size: 36px;
  }
  .hero-text {
    font-size: 16px;
  }
  .sign-log-form {
    margin-left: 10px;
  }
  .sign-up {
    padding-left: 20px !important;
    margin-left: 60px !important;
  }
  .form-width {
    width: 193px !important;
  }
  input.submit-button {
    width: 193px !important;
  }
}
@media only screen and (max-width: 320px) {
  .sign-log-form {
    margin-left: 0px;
  }
}

/* Main page user input - transparent */
input.transparent {
  background-color: #000;
  background: rgba(0, 0, 0, 0.4);
  border: 1px solid #FFFFFF;
  border-radius: 1px;
  font-size: 14px;
  color: #FFFFFF;
  height: 40px;
  margin-top: 10px;
}

input.transparent.butn {
    width: 200px;
}

input.transparent::-webkit-input-placeholder {
  color: #FFF;
  font-size: 14px;
}

input.transparent:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
  font-size: 14px;
}

input.transparent::-moz-placeholder {  /* Firefox 19+ */
  color: #FFF;
  font-size: 14px;
}

input.transparent:-ms-input-placeholder {
  color: #FFF;
  font-size: 14px;
}

input.submit-button {
  width: 300px;
  background-color: #00A8D0;
  opacity: 0.7;
  margin-left: 75px;
}

.form-width {
  // width: 446px;
  width: 32em;
  max-width: 100%;
}

.message-alert {
  color: red;
}

/* User Profile */
.blue-hr {
  border: 1px solid #00A8D0;
}

.user {
  background: url(/assets/hero-user.png) center center;
  background-size: cover;
  height: 450px;
}

.user-jumbotron-large-text {
  padding-top:80px;
  font-size: 32px;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0;
  text-transform: uppercase;
  text-align: center;
}

.user-jumbotron-small-text {
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
}

.calendar-event-button {
  background: #00A8D0;
  border: 1px solid rgba(121,125,128,0.30);
  box-shadow: inset 1px 1px 3px 0 rgba(121,125,128,0.20);
  border-radius: 3px;
  /* Add meditation to ca: */
  font-size: 24px;
  color: #FFF;
  width: 300px;
}

.user-meditation {
  font-size: 36px;
  color: #00A8D0;
  letter-spacing: 0;
}

/* ------ Meditation Tracking ------ */

.enlightenment-points {
  font-size: 28px;
  color: #007799;
  letter-spacing: 0;
  text-align: right;
  margin-top: 10px;
}

.user-meditation-row {
  margin-bottom: -10px;
}

.user-meditation-list {
  font-size: 24px;
  color: #6B6B6B;
  letter-spacing: 0;
  line-height: 42px;
  text-decoration: none;
}

.user-meditation-event {
  font-size: 24px;
  color: #FFF;
  letter-spacing: 0;
  line-height: 42px;
}

.user-meditation-event a {
  color: #FFF;
}

.user-meditation-event a:hover {
  text-decoration: none;
}

.meditation-logo {
  width: 200px;
  height: 50px;
  margin-left: -60px;
  margin-right: -60px;
}
